<%- include('partials/header') -%>


<!-- Highlights -->
<section id="highlights" class="wrapper style3">
  <div class="title">Our Community</div>
  <div class="container">
    <div class="row aln-center">
      <p>DeBug: User's timezone: <%= userTimeZone %></p>

            
      <% for(var i=0; i<posts.length; i++) {%>

        <div class="col-4 col-12-medium">
          <section class="highlight">
        <a href="/post/<%= `${posts[i]._id}`%>"  class="image featured">
          <img src= "<%= posts[i].image%>">
        </a>
      <h3><a href="/post/<%= `${posts[i]._id}`%>"><%=posts[i].title%></a></h3>
      <p><%=posts[i].caption%></p>
      <h2 class="">Post Likes: <%= posts[i].likes %></h2>
      <div class=""><a href="/profile/<%= `${posts[i].user._id}`%>">Posted by:<%=posts[i].user.userName%></a>
        <p>At:<%= posts[i].createdAt.toLocaleString( {timeZone: userTimeZone } ) %> on <%= posts[i].createdAt.toLocaleDateString( {timeZone: userTimeZone } ) %></p>
      </p>
      </div>
      <ul class="actions">
        <form
        class="row-1"
        action="/post/likePostFeed/<%= posts[i]._id %>?_method=PUT"
        method="POST"
      >
        <button class="button style1" type="submit"><i class="fa fa-heart"></i>like post</button>
      </form>
        <li><a href="/profile/<%= `${posts[i].user._id}`%>" class="button style1">See Profile</a></li>
        <li><a href="/post/<%= `${posts[i]._id}`%>" class="button style1">  See Post  </a></li>
      </ul> 
      <h4>Comments:</h4>
      <% for(var j=0; j<comments.length; j++) {%>
        <% if( comments[j].post  == `${posts[i]._id}` ) {%>
        <span><%= comments[j].comment %></span>
        <a href="/profile/<%= `${comments[i].user._id}`%>">By: <%= comments[i].user.userName %></a>
        <p>At:<%= comments[i].createdAt.toLocaleString( {timeZone: userTimeZone } )%> on  <%= comments[i].createdAt.toLocaleDateString() %></p>
       <%}%>
       <% } %>
      </div>
        <%}%>
       
      </div>
    
      
    </div>
  </div>
</section>


    
     
    <!-- </div> -->
  <!-- </div> -->
<!-- </section> -->


    
      <!-- <ul class="row "></ul> -->
<%- include('partials/footer') -%>