<%- include('partials/guestHeader') -%>

<section id="main" class="wrapper style2">
  <div class="title">Login</div>
  <div class="container">

<main class="container">
  <div class="row ">
    <section class="wrapper off-1">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <% if (messages.success && messages.success.length > 0) { %>
        <div class="alert alert-success">
          <ul>
            <% messages.success.forEach(function(success) { %>
              <li><%= success.msg %></li>
            <% }); %>
          </ul>
        </div>
      <% } %>
      <form action="/login" method="POST">
        <div class="">
          <input type="hidden" name="timezone" id="timezone" value="">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label>
          <input
            type="email"
            class="form-control "
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
       

        <button type="submit" class="button style1 large">Submit</button>
      </form>

       <div class="">
        <a href="/passwordResetRequest" class="button style3 large">Forgot Password?</a>
        </div>

    </section>
  </div>
</main>
</div>
</section>
<!-- Footer -->
<%- include('partials/footer') -%>