<%- include('partials/guestHeader') -%>

<section id="main" class="wrapper style2">
  <div class="title">Login</div>
  <div class="container">

<main class="container">
  <div class="row ">
    <section class="wrapper off-1">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="">
          <input type="hidden" name="timezone" id="timezone" value="">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label>
          <input
            type="email"
            class="form-control "
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="button style1 large">Submit</button>
      </form>
     
      
    </section>
  </div>
</main>
</div>
</section>
<!-- Footer -->

<section id="footer" class="wrapper">
  <div class="title">Our Sponsors</div>
  <div class="container">
      <header class="style1">
          <h2>Looking to be in touch with us?</h2>
          <p>
              We value and appreciate you.
          </p>
      </header>
      <div class="row">
          <div class="col-6 col-12-medium">

              <!-- Contact Form -->
                  <section>
                      <form method="POST" action="/feedback">
                          <div class="row gtr-50">
                              <div class="col-6 col-12-small">
                                  <input type="text" name="userName" id="contact-name" placeholder="Name" />
                              </div>
                              <div class="col-6 col-12-small">
                                  <input type="text" name="email" id="contact-email" placeholder="Email" />
                              </div>
                              <div class="col-12">
                                  <textarea type="text" name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                              </div>
                              <% if (locals.messages.errors) { %>
                                  <% messages.errors.forEach( el => { %>
                                      <div class="alert alert-danger"><%= el.msg %></div>
                                  <% }) %>    
                              <% } %>
                              <% if (locals.messages.info) { %>
                                  <% messages.info.forEach( el => { %>
                                      <div class="alert alert-info"><%= el.msg %></div>
                                  <% }) %>    
                              <% } %>
                              <div class="col-12">
                                  <ul class="actions">
                                      <li><input type="submit" class="style1" value="Send" /></li>
                                      <li><input type="reset" class="style2" value="Reset" /></li>
                                  </ul>
                              </div>
                          </div>
                      </form>
                  </section>

          </div>
          <div class="col-6 col-12-medium">

              <!-- Contact -->
                  <section class="feature-list small">
                      <div class="row">
                          <div class="col-6 col-12-small">
                              <section>
                                  <h3 class="icon solid fa-home">Mailing Address</h3>
                                  <p>
                                      Untitled Corp<br />
                                      1234 Somewhere Rd<br />
                                      Nashville, TN 00000
                                  </p>
                              </section>
                          </div>
                          <div class="col-6 col-12-small">
                              <section>
                                  <h3 class="icon solid fa-comment">Social</h3>
                                  <p>
                                      <a href="http://www.racheleckenrod.com">www.racheleckenrod.com</a><br />
                                      <a href="https://www.linkedin.com/in/rachel-eckenrod/">linkedin.com/rachel-eckenrod</a><br />
                                      <a href="https://www.facebook.com/rachel.eckenrod">facebook.com/rachel.eckenrod</a>
                                  </p>
                              </section>
                          </div>
                          <div class="col-6 col-12-small">
                              <section>
                                  <h3 class="icon solid fa-envelope">Email</h3>
                                  <p>
                                      <a href="#">info@untitled.tld</a>
                                  </p>
                              </section>
                          </div>
                          <div class="col-6 col-12-small">
                              <section>
                                  <h3 class="icon solid fa-phone">Phone</h3>
                                  <p>
                                      (000) 555-0000
                                  </p>
                              </section>
                          </div>
                      </div>
                  </section>

          </div>
      </div>
      <div id="copyright">
          <ul>
              <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
      </div>
  </div>
</section>




<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script>
  document.getElementById("timezone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script> 
<script>
  const timezoneField = document.getElementById("timezone");
  const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

  console.log("User Timezone:", userTimezone);

  // Assign the user's time zone to the input field
  timezoneField.value = userTimezone;
</script>
</body>
</html>
