<%- include('partials/guestHeader') -%>

<section id="main" class="wrapper style2">
  <div class="title">Reset Your Password</div>
  <div class="container">
    <main class="container">
        <div class="">
            <section class="">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.errors && messages.errors.length > 0) { %>
                    <div class="alert alert-danger">
                      <ul>
                        <% messages.errors.forEach(function(error) { %>
                          <li><%= error %></li>
                        <% }); %>
                      </ul>
                    </div>
                  <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (messages.success && messages.success.length > 0) { %>
                    <div class="alert alert-success">
                      <ul>
                        <% messages.success.forEach(function(success) { %>
                          <li><%= success.msg %></li>
                        <% }); %>
                      </ul>
                    </div>
                  <% } %>
                <form action="/passwordResetRequest" method="POST">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <p>Enter your email and we will send you a link to create a new password. <br>Be sure to check your spam/junk email if you haven't added us as a contact.</p>
                    <button type="submit" class="button style1 large">Reset Password</button>
                  </form>
            </section>
        </div>
    </main>

    </div>
    </section>
<!-- Footer -->
<%- include('partials/footer') -%>