<%- include('partials/header') -%>

<section id="intro" class="wrapper style3">
  <div class="title"><%= post.title %><br>
    Posted By:<%= post.user.userName %></div>

  <!-- <div class="container"> -->

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="card p-5">
      <h2></h2>
      <img class="image fit featured" src="<%= post.image%>" />
      <div class="row p-5 justify-content-between">
      <div class="">
        <p><%= post.caption %></p>
      </div>
      
        <form
          class="row-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn style1" type="submit"><i class="fa fa-heart"></i>post</button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user.id == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn style1" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
          </svg> post</button>
        </form>
        <form
        action="/post/editPostPage/<%= post.id %>"
      
        class="col-3"
      >
        <button class="btn style1" type="submit">edit Post</button>
      </form>

        <%}%>
    </div>
    
  </div>
    <div class="container">
      <div class="row">
        <h2>Comments:</h2>
        <ul class="row list-unstyled">
          <% for(var i=0; i<comments.length; i++) {%>
            <li class="col-6 ">
             <h4>"<%= comments[i].comment%>"</h4>
             <a href="/profile/<%= `${comments[i].user._id}`%>">By: <%= comments[i].user.userName %></a>
             <p>At: <%= comments[i].createdAt.toLocaleTimeString() %> on <%= comments[i].createdAt.toLocaleDateString() %></p>
            <form
            class=""
            action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT"
            method="POST"
            >
            <button class="btn style1" type="submit"><i class="fa fa-heart"></i>Comment</button>
          </form>
          <p class="p-3">Comment Likes: <%= comments[i].likes %></p>
        </li>
            <%if(comments[i].user._id == user.id){ %>
              <form
                action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn style1" type="submit"><i class=" fa fa-trash"></i>comment</button>
              </form>

             
          <% } %>
          <% } %>
          </ul>
      </div>
     
      <h2>Add a Comment</h2>
      <div class="card">
        <form action="/comment/createComment/<%=post._id%>" method="POST">
          <div class="">
              <label for="comment" class="form-label">Comment</label>
              <input type="text" class="form-control" id="comment" name="comment">
          </div>
          
          <button type="submit" class="button style1">Submit</button>
        </form>
      </div>
     
    </div>
    <div class="">
      <a class="button style3" href="/profile/<%= post.user._id %>">See Profile</a>
      <div class=""></div>
      <a class="button style3" href="/chat">Lobby</a>
      <div class=""></div>
      <a class="button style3" href="/feed">Community</a>
      <div class=""></div>
      <a class="button style3" href="/">Home</a>
      <div class=""></div>
      <a class="button style3" href="/logout">Logout</a>
      <div class=""></div>
    </div>
  </div>
</div>

</div>
</section>

<!-- <%- include('partials/footer') -%> -->
